{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'base/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/swiper.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/bootstrap.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

</body>
</html>